body {
    background-color: blanchedalmond;
    font-family: 'Lucida Sans';
    text-align: center;
}

h1 {
    color: seagreen;
    text-align: center;
}

ul {
    font-size: medium;
    font-weight: bold;
    border: 8px solid powderblue;
    border-radius: 10px;
    width: 50%;
    height: 50vh;
}

ul li {
    padding: 10px;
    text-align: left;
}

div.task-container {
    display: flex;
    justify-content: center;
}

.toad {
    width: 120px;
    height: 200;
}